name: Java CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v1
      with:
        java-version: 17
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Test java
      run: ./gradlew :jason-interpreter:test
    - name: Test jason
      run: ./gradlew :jason-interpreter:testJason

#      run: ./gradlew build --info
